
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
/*font-family: 'Playfair Display SC', serif;*/

html, body{
    background:#212121;
    font-family: 'Playfair Display SC', serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    color:white;
}

form{
  width:80%;
  margin:0 auto;
}

.Search{
  padding:10px;
  width:100%;
  margin:5px 0px;
  border: 2px solid #2467e4;
  box-sizing: border-box;
}

.flexButton{
  display:flex;
  justify-content: space-between;
}

.searchButton{
  padding:5px;
  margin:5px 0;
  width:48%;
  background-color:#2467e4;
  color:white;
  font-weight: 400;
  border:none;
}

.searchButton:hover{
  background-color:#4689f6;
}

.title{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size:2em;
    text-align: center;
}

.bourbonListContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Card Transition*/

.cardContainer{
	perspective: 1000px;
  margin:40px;
}

.cardContainer:hover .flipper, .cardContainer.hover .flipper{
    transform: rotateY(180deg);
}

.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position:relative;
}

.cardContainer, .cardFront, .cardBack{
    width:100%;
    height:350px;
}

.cardFront, .cardBack{
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
}

.cardFront{
    z-index:2;
    transform: rotateY(0deg);
}

.cardBack{
    transform: rotateY(180deg);
}

/*Card Styles*/
.cardContainer{
    background:#212121;
    margin:30px;
}

.cardFront{
    width:100%;
    height:100%;
}

.cardFront img{
    width:100%;
    height:173px;
    vertical-align: middle;
}

.flexTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;

    margin:0;
    height:177px;
    background:#424242;
}

.frontScore, .backScore{
    text-align: center;
    color:white;
    opacity:.83;
}

.frontScore img, .backScore img{
    width:20px;
    height:20px;
}

.frontTitle{
    text-align: center;
    color:white;
    font-size:1.25em;
    opacity:.6;
    padding:0 10px;
    padding-bottom:0;
    margin:10px;
}

.frontDistillery{
    color:black;
    text-align: center;
    font-size:1em;
    font-weight: bold;
    opacity:.6;
    margin:0;
}

.cardBack{
    width:100%;
    background:#424242;
    color:white;

    display:flex;
    justify-content: center;
    align-items: center;

    font-family:sans-serif;
    font-size:1em;
    text-align: center;
}

.backInfo{
  padding:20px;
}

.notFound{
  color:white;
}

footer {
    border-top:solid 1px #ccc;
}

footer p{
    color:white;
    opacity: .5;
    margin-left:2em;
}

@media (min-width: 440px){

  .bourbonListContainer{
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
  }

  .cardContainer{
    width:45%;
    margin:10px;
  }

  .frontTitle{
    font-size:1em;
  }

}

@media (min-width: 740px){

  .cardContainer{
    width:30%;
    margin:10px;
  }

  @media (min-width: 1080px){

    .cardContainer{
      width:25%;
      margin:10px;
    }

    .frontTitle{
      font-size:1.25em;
    }

}
